.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header--banner {
  height: 100px;
  width: 100%;
  object-fit: none;
}

.header--logo {
  height: 100px;
  width: 100px;
  position: absolute;
}

.App--uploadForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.uploadForm--uploader {
  align-self: center;
  margin-top: 20px;
}

.uploadForm--upload-btn {
  width: 100px;
  align-self: center;
  margin-top: 20px !important;
}

.footer--logo {
  height: 50px;
  margin-top: 12px;
}

.App--footer {
  height: 75px;
  background-color: #3E464C;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.uploadForm--select {
  height: 25px;
  margin-top: 25px;
  padding-left: 5px;
}

.MuiInputLabel-formControl {
  left: 10px !important;
  margin-top: 5px;
}

.MuiSelect-select:focus {
  background-color: unset !important;
}

.header--logoutBtn {
  position: absolute !important;
  right: 50px;
  top: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto
}

.loginForm--input {
  margin-top: 20px !important;
}

.loginForm--btn {
  margin-top: 20px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
